.cards{
    
    display: grid;
    grid-template-columns:repeat(2,1); 
    grid-auto-rows: auto;
    justify-content: center;
    

    
}
.card{
    width: auto;
    border-radius: 5px;
    padding: 1rem;
    text-align: last;
    color:black;
    text-align: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: "Century Gothic", Century Gothic, Geneva, AppleGothic, sans-serif;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container{
    padding: 2px 16px;
}
img {
    border-radius: 5px 5px 0 0;
}