body {
    justify-content: center;
    background-image: linear-gradient(to left,rgba(75, 148, 172, 0.161), rgba(173, 216, 1230, 0.989));
    ;
}

.container {
    padding: 2%;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 36px;
    margin-bottom: 20px;
}

.exercise {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.exercise:hover {
    transform: scale(1.02);
}

.sense {
    margin-bottom: 30px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
    font-size: 18px;
    color: #333;
}

li:before {
    content: "•";
    margin-right: 8px;
    color: #ff7b00;
}

input {
    padding: 6px;
    width: 80%;
    margin-bottom: 10px;
}
